/* #heading-container{
    text-align: center;
    flex-direction: column;
    padding: 4vw;
    display: flex;
    color: white;
    background-color: rgb(129, 35, 58);
} */
body{
    margin: 0px !important;
}
#heading-container {
    display: flex;
    justify-content: center; /* Centers flex items horizontally */
    align-items: center; /* Centers flex items vertically */
    flex-direction: column;
    padding: 4vw;
    color: white;
    background-color: rgb(129, 35, 58);
}

#main-div{
    display: flex;
}
#left{
    padding: 4vw 0vw 4vw 2.5vw;
    background-color: rgba(129, 35, 58, 0.1);
}
#right{
    padding: 4vw 2vw;
}
h1,h2{
    margin: 0px !important;
}
h1{
    font-size: 3.1vw;
    font-family: sans-serif;
}
h2{
    font-size: 3.1vw;
    font-family: sans-serif;
    font-weight: 100;
    
}
h3{
    font-size: 1.8vw;
    font-family: sans-serif;
}
#phoneNo,#email,#address,#desc,#level,#web-design,#profile-p{
    font-family: sans-serif;
    font-size: 1.5vw;
    color: #575757;
    margin: 0px !important;
}
#head,#lang{
    font-family: sans-serif;
    font-size: 1.5vw;
    color: #81233A;
    font-weight: bolder;
    margin: 0px !important;
}
#Adobe,#Research{
    display: flex;
    gap: 0.5vw;
    flex-wrap: wrap;
}